<style>
  nav {
    display: flex;
    height: 100px;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  nav h1 {
    color: #fff;
  }
  a {
    padding: 10px;
    justify-content: end;
    color: #fff;
    text-decoration: none;
  }
</style>

<nav>
  <h1><%= title %></h1>
  <div>
    <a href="/">Home</a>
    <a href="/about">About</a>
  </div>
</nav>
