<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pessoa</title>
  </head>
  <body>
    <%- include('parsial/includes', {title:'About'});%>
    <h1>Sobre</h1>
  </body>
</html>
