
/* h1::first-letter{
  color: rebeccapurple;
  font-size: 3rem;
}

p::first-line{
  color: aqua;
}
li{
  list-style: none;
}
li::before{
  content: '';
  position: inline-block;
  height: 30px;
  width: 30px;
  background-image: url(./37372.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
p::selection{
  background-color: salmon;
  color: grey;
}
 */

/* input:focus{
  color: red;
}
li:first-of-type{
  color: blue;
}
li:nth-child(3){
  color: brown;
} 
ul{
  margin: 0;
  padding: 0;
}
li{
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
}
li:nth-of-type(odd){
  background-color: cadetblue;
  color: #fff;
}
li:nth-of-type(even){
  background-color: rgb(185, 252, 118);
}
body{
  margin: 0;
  padding: 0;
  background-color: red;
}
.container{
  width: 100%;
  background-color: blue;
}
.primeira{
  display: inline-block;
  margin: auto -4px -4px auto;
  width: calc(100% - 300px);
  height: 300px;
  background-color: yellow;
}
.segunda{
  margin: auto -4px -4px auto;
  display: inline-block;
  width: 300px;
  height: 300px;
  background-color: green;
}

img{
  width: 300px;
  transform: scale(0.5);
}
img:hover{
  transform: scale(1) skew(45deg);
}

:root{
  --color : aqua
}
.p1{
  color: var(--color)
}
.p3{
  color: var(--color)
}
*/

/* DISPLAY FLEX
.container{
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  background-color: darkgrey;
  color:#fff;
  height: 500px;
}

.r1{
  background-color: red;
  align-self: flex-start;
}

.r2{
  background-color: blue;
  
}

.r3{
  background-color: green;
  align-self: flex-end;
}

.rect{
  width: 150px;
  height: 150px;
} */

.container{
  color:#fff;
  display: grid;
  padding: 10px;
  background-color: gray;
  height: 900px;
  grid-gap: 5px;
  grid-template:auto auto auto auto auto auto auto/auto auto auto auto auto auto;
  /* grid-template-areas:"a2 a2 a2 a2 a2 a2"
                      "a1 a3 a3 a3 a3 a8"
                      "a1 a4 a4 a4 a4 a8"
                      "a1 a5 a5 a5 a5 a8"
                      "a1 a6 a6 a6 a6 a8"
                      "a1 a7 a7 a7 a7 a8"
                      "a9 a9 a9 a9 a9 a9" */
}

.r1{
  background-color: red;
}

.r2{
  background-color: blue;
}

.r3{
  background-color: green;
}

.item1{
  grid-column-start: 1;
  grid-row-start: 2;
  grid-row-end: 7;

}
.item2{
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 1;

}
.item3{
  grid-column-start:span 4;
  grid-row-start: 2;
  grid-row-end: 3;

}
.item4{
  grid-column-start:span 4;
  grid-row-start: 3;
  grid-row-end: 4;

}
.item5{
  grid-column-start:span 4;
  grid-row-start: 4;
  grid-row-end: 5;

}
.item6{
  grid-column-start:span 4;
  grid-row-start: 5;
  grid-row-end: 6;

}
.item7{
  grid-column-start:span 4;
  grid-row-start: 6;
  grid-row-end: 7;

}
.item8{
  grid-column-start:6 ;
  grid-row-start: 2;
  grid-row-end: 7;

}
.item9{
  grid-column-start: 1;
  grid-column-end: 7;
  grid-row-start: 7;
  grid-row-end: 8;

}
